body{
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
} 

/* Container is basically some default styling that I applied to the whole thing */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	font-weight: 400;
	text-align: center;
}

/* This is the header/navigation bar, pretty self explanatory */


header{
	background: #D62246;
	color: white;
	padding-top:30px;
	min-height: 70px;
	border-bottom: white 5px solid;
}

header a{
	color: white;
	text-decoration: none;
	font-size:16px;
}

header ul{
	padding: 0;
	margin: 0;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #logo{
	float:left;
}

header #logo h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}

/* This part makes it so if you put .highlight or .current it adds these special effects. Currently not being used I'm pretty sure */

header .highlight, header .current{
	color: #D4F4DD;
	font-weight: bold;
}

header a:hover{
	transition: 0.3s;
	color:rgb(153, 230, 255);
}

/* The header image with the zoom clipart */

#showcase{
	min-height:600px;
	background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(32, 32, 32, 0.8)),
	url('images/backgroundimage.jpg');
	backdrop-filter: blur(100px);
	text-align:center;
	color: white;
}

/* The animation and styling for Stem 4 youth */

.text1{
	color:white;
	font-size: 90px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: -40px;
	animation: text 4s 1;
}

/* The styling for the mission statement */

.text2{
	color:white;
	font-size: 20px;
	font-weight:500;
}

/* Where the real animation happens */

@keyframes text {
	0%{
		color: #D62246;
		margin-bottom: -40px;
	}

	30%{
		letter-spacing: 25px;
		margin-bottom:-40px;
	}

	85%{
		letter-spacing: 8px;
		margin-bottom:-40px;
	}

	100%{
		letter-spacing: 8px;
		margin-bottom:-40px;
	}
}

#showcase h1{
	margin-top:50px;
	font-size:100px;
	margin-bottom:10px;
}

#showcase h3{
	margin-top:100px;
	font-size:20px;
	margin-bottom:10px;
}

#about{
	text-align: center;
	margin: 20px 70px 0px 70px;
}

#about h2{
	font-weight:400;
}
#about h1{
	font-weight: 900;
	font-size: 50px;
}

/* It says boxes but basically this is for the hexagons part */

#boxes{
	margin-top: 0px;
}

#boxes .box{
	float:left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 30%;
	align-items: center;
	padding-bottom: -20px;
}

#boxes .box h3{
	color: #D62246;
	font-weight: bold;
	font-size: xx-large;
}

.middle{
	margin-top: 20px;
	width:100%;
}

/* A bunch of stuff for the counter */

.counting-sec{
	padding: 40px 0;
	width: 100%;
	background: white;
}

.inner-width{
	max-width: 1200px;
	margin: auto;
	display: flex;
}

.col{
	flex:1;
	text-align: center;
	padding: 20px;
	color: black;
	text-transform: uppercase;
	font-size: 20px;
}

.col i{
	font-size: 40px;
	color: #D62246;
}

.num{
	font-size: 40px;
	margin: 20px 0;

}

#numbercounter{
	margin-top: 50px;
	font-size: xx-large;
}

/* Apply button */


.applybutton {
	color: #D4F4DD !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #0E7C7B;
	padding: 20px;
	border: 4px solid #D4F4DD !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.applybutton:hover {
	color: #ffffff !important;
	background: #D62246;
	border-color: white !important;
	transition: all 0.4s ease 0s;
}

footer{
	padding:20px;
	margin-top:5px;
	color:black;
	background-color: #D4F4DD;
	text-align: center;
}

#apply{
	padding:15px;
	background:#0E7C7B;
	text-align: center;
	color: white;
}

#apply h1{
	font-size: xx-large;
}

/* This is for the about page no idea why it's after the footer... gotta fix some stuff here */

#meettheteam{
	text-align: center;
	margin: 20px 70px 0px 70px;
}

#meettheteam h1{
	font-weight: 900;
	font-size: 50px;
}

#mission h1{
	font-weight: 900;
	font-size: 50px;
}

#mission h4{
	color:#0E7C7B
}

/* Three columns side by side */
.column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }
  
  /* Add some shadows to create a card effect */
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
	padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }